/.vs

/Tsw.Args.Net/bin
/Tsw.Args.Net/obj

/Tsw.Args.Net.Sample/bin
/Tsw.Args.Net.Sample/obj

/Tsw.Args.Net.SampleListArguments/bin
/Tsw.Args.Net.SampleListArguments/obj

/Tsw.Args.Net.SampleVariants/bin
/Tsw.Args.Net.SampleVariants/obj

/Tsw.Args.Net.SampleVariants2/bin
/Tsw.Args.Net.SampleVariants2/obj

/Tsw.Args.Net.SampleVariants2.Lib/bin
/Tsw.Args.Net.SampleVariants2.Lib/obj

/Tsw.Args.Net.Tests/bin
/Tsw.Args.Net.Tests/obj

*.user
